@import "page-layout-blog.css";
@import "footer.css";
@import "header.css";

#author-photo {
    background-image: url("../images/profile-pic.jpg");
    background-size: 100% 100%;

}

.blog-image {
    padding: 10px;
    width: 40vw;

}

figcaption {
    text-align: center;

}

@media (max-width: 425px) {
    .blog-image {
        padding: 10px;
        width: 55vw;
    
    }

}


