.page-layout {
    display: grid;
    grid-template-columns: 200px auto auto auto;
    grid-template-rows: 80px 300px auto 50px;
    border: 2px solid green;
    grid-template-areas:
    "logo head head head"
    "image image image image"
    "cont cont cont cont"
    "foot foot foot foot"

}

.box {
    display:flex;
    border: 1px solid red;
    align-items: center;
    justify-content: center;
    
}

#header {
    grid-area: head;
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 20px;
    column-gap: 20px;

}

#main-image {
    grid-area: image;

}

#content {
    display: flex;
    justify-content: space-around;
    row-gap: 50px;
    flex-direction: row;
    flex-wrap: wrap;
    grid-area: cont;
    padding: 50px;

}

#footer {
    grid-area: foot;

}

#home-bttn {
    

}

#logo {
    grid-area: logo;
    width: 200px;
    height: 80px;

}

#post-card {
    display:flex;
    flex-direction: column;
    width: 350px;
    height: 300px;

}

#post-card-image {
    display: flex;
    width: 350px;
    height: 220px;

}

#post-card-title {
    width: 350px;
    height: 80px;

}