.page-layout {
    display: grid;
    grid-template-columns: 200px auto auto auto;
    grid-template-rows: 80px 300px auto 50px;
    border: 2px solid green;
    grid-template-areas:
    "logo head head head"
    "image image image image"
    "cont cont cont cont"
    "foot foot foot foot"

}

.box {
    display:flex;
    border: 1px solid red;
    align-items: center;
    
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    grid-area: head;

}

#main-image {
    grid-area: image;

}

#content {
    grid-area: cont;

}

#footer {
    grid-area: foot;

}

#home-bttn {
    

}

#logo {
    grid-area: logo;
    width: 200px;
    height: 80px;

}

#blog-post-bttn {
    

}