.page-layout {
    display: grid;
    grid-template-columns: 200px auto auto auto;
    grid-template-rows: 80px 300px auto 50px;
    border: 2px solid green;
    grid-template-areas:
    "logo head head head"
    "image image image image"
    "cont cont cont cont"
    "foot foot foot foot"

}

body {
    background-color: lightslategrey;
    font-family: Arial, Helvetica, sans-serif;

}

.box {
    display:flex;
    border: 1px solid red;
    align-items: center;
    justify-content: center;
    
}

#main-image {
    grid-area: image;

}

#content {
    display: flex;
    justify-content: space-around;
    row-gap: 50px;
    column-gap: 50px;
    flex-direction: row;
    flex-wrap: wrap;
    grid-area: cont;
    padding: 50px;

}

#post-card {
    display:flex;
    flex-direction: column;
    width: 350px;
    height: 300px;
    border-radius: 10px;

}

#post-card-image {
    display: flex;
    width: 350px;
    height: 220px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

#post-card-title {
    width: 350px;
    height: 80px;
    background-color: seashell;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: bold;
    color: black;

}

.white-to-black:hover {
    color: black;

}

.white-to-black {
    color: seashell;
    text-decoration: none;

}

.black-to-grey:hover {
    color: lightslategrey;

}

.black-to-grey {
    color: black;
    text-decoration: none;

}